


.servis{
    text-align: center;
         
    }
    
    .serv{
        text-align: center;
       display: inline-block;
        width: 20%;

    }
    
    .icon{
        color: #fff;
        background-color: #FFD700;
        
    }